* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 860px;
  margin: 0 auto;
}

.body {
  font-family: Heebo;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}

.header a {
  margin-left: 20px;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

/* HERO */

#hero {
  margin: 100px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-text h1 {
  font-family: Heebo;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: #21243d;
}

.hero-text p {
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0 38px 0;
}

.hero-text button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: var(--Primary, #ff6464);
  border: none;
  color: #fff;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
}

.hero img {
  width: 30%;
  height: 30%;
}

/* POST */

#post {
  background: #edf7fa;
  padding-bottom: 50px;
}

.recent {
  display: flex;
  justify-content: space-between;
  padding: 27px 0px 22px 0px;
}

.recent h1 {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 22px;
  font-weight: 400;
}

.recent a {
  color: var(--Secondry, #00a8cc);
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
}

.post-block {
  display: flex;
  justify-content: space-between;
}

.post-left {
  width: 48%;
  height: 295px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}

.post-left h1 {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 26px;
  font-weight: 700;
  margin: 24px 21px 17px 23px;
}

.post-left h4 {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 18px;
  font-weight: 400;
  margin: 23px 0 0 23px;
}

.post-left p {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 89%;
  font-weight: 400;
  margin: 11px 0 0 23px;
}

/* FEATURED */

.featured {
  margin-bottom: 100px;
}

.featured h1 {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
  margin: 15px 0;
}

.blocks {
  display: flex;
}

.block-text h1 {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 30px;
  font-weight: 700;
  margin-left: 18px;
  margin-bottom: 16px;
  margin-top: -18px;
}

.blocks img {
  width: 246px;
  height: 180px;
}

.block button {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background-color: #142850;
  color: white;
  font-size: 18px;
}

.block h6 {
  color: var(--Light, #8695a4);
  font-family: Heebo;
  font-size: 20px;
  font-weight: 400;
}

.block-text p {
  color: var(--Dark-Color, #21243d);
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  margin: 17px 0 0 18px;
}

.block {
  display: flex;
  align-items: center;
  margin-left: 18px;
  gap: 40px;
}

hr {
  margin: 20px 0;
}

.block img {
  width: 62px;
  height: 25px;
  position: absolute;
  top: 0;
}

/* FOOTER */

#footer {
  margin: 50px 0;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  text-align: center;
  margin-right: 35px;
}

ion-icon {
  width: 30px;
  height: 30px;
  margin-left: 35px;
}

.footer p {
  color: var(--Dark, #21243d);
  text-align: center;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  margin-top: 26px;
}

/* MEDIA */

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 678px) {
  .post-left {
    width: 295px;
  }
  .post-left p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 30px;
    line-height: 29px;
  }
  .hero img {
    margin-top: 20px;
  }
  .hero-img {
  }
  .post-left {
    margin-bottom: 20px;
  }
  .post-left p {
    font-size: 79%;
  }
  .post-block {
    display: flex;
    flex-direction: column;
  }
  .blocks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .block-text h1 {
    margin-top: 10px;
  }
}
